.font { 
    font-family: 'Fredoka One', cursive; }
.card {
  transition: transform 0.3s ease, shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2) !important;
}
